@model OrdersComponentViewModel

@if (Model.OrderListViewModel.Orders is IEnumerable<SolforbTest.Application.Orders.Queries.GetOrderList.OrderViewModel>
orders)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>№</th>
                <th>Дата</th>
                <th>Поставщик</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td><a href="@Url.Action("Index", "Order", new { orderId = order.OrderId })">@order.OrderId</a></td>
                    <td>@order.Number</td>
                    <td>@order.Date</td>
                    <td>@order.ProviderName</td>
                </tr>
            }
        </tbody>
    </table>

    <nav class="d-flex justify-content-center">
        <partial name="_PaginationBar"
            model="@new PaginationViewModel(Model.OrderListViewModel.PageNumber, Model.OrderListViewModel.PageCount)" />
    </nav>

}